/*--------font-------*/

/* @font-face {
	font-family: 'Advent Pro';
	src: local('☺'), url('AdventPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Happy Monkey';
	src: local('☺'), url('HappyMonkey-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Amatic SC';
	src: local('☺'), url('AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Pompiere';
	src: local('☺'), url('Pompiere-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lekton';
	src: local('☺'), url('Lekton-Regular.ttf') format('truetype');
} */

/*--------general-------*/

body {
	margin: 0;
	background-color:#FAF4F5;
	color: #3D3D3E ;
	font-family: 'Pompiere', cursive;
}

header {
	background-color: #4B4453;
	height: 60px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header
{
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

footer {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	padding: 1px;
	margin-bottom: 20px;
}

h1 {
	color:#FCF8FF;
	font-weight:normal;
	font-family: 'Advent Pro', sans-serif;
	margin: 0;

}

h2 {
	color: #EF626C;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 35px;
	padding-top: 15px;
}

h4 {
	font-family: 'Lekton', sans-serif;
}

p {
	font-size:23px;
	color: black;
}

a {
	text-decoration: none;
}

input[type="submit"]{
	cursor: pointer;
}

input[type="button"] {
	cursor : pointer;
}
#main {
	max-width: 1000px;
	background-color: rgba(255,255,255,0.7);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 35px;

}

#hr_title{
	width: 70%;
	height:1px;
	background-color: #EF626C;
	border: none;

}

input:focus {
	outline: none;
}


button:active {
    border: none;
    outline: none;
}

button:focus {
	outline: none;
}

input:active {
    border: none;
    outline: none;
}

a:link {
    color: #3D3D3E ;
}

a:visited {
    color: #3D3D3E ;
}

a:hover {
	color: #3D3D3E ;
	text-decoration: underline;
}

a:active {
    color: #3D3D3E ;
}

a {
	color: #3D3D3E ;
	cursor : pointer;
}
/*--------Scrollbar-------*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.7);
}
::-webkit-scrollbar-thumb {
    background: rgba(232,233,243, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: #4B4453;
}

/*--------Animation-------*/
@keyframes fadeIn{
    from{opacity:0} to{opacity:1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} to {opacity: 1}
}

@keyframes fadeOut{
    from{opacity:1} to{opacity:0}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1} to {opacity: 0}
}
/*--------header-------*/

#logout {
	display: none;
	width:60px;
	padding-top:5px;
}

#logout img {
	width:33px; 
	height: 33px; 
	margin-top: 7px;
}

#dropdown {
	display: none;
	margin-top: 7px;
}

#dropdown img {
	width:45px; 
	height: 45px; 
	margin-top: 2px; 
	margin-left:5px;
}

#profile_menu img{
	width:40px; 
	height: 40px; 
	margin-top: 2px;
}
/*--------------Index.php--------------*/
#img {
	cursor : pointer;
	align-items: center;
	text-align:center;
	margin: 20px;
	background-color: rgba(232,233,243, 0.7);
	height: 260px;
	width: 270px;
	vertical-align: middle;
	padding-top: 10px;
	float: left;
	-webkit-animation : 0.5s ease-out 0s 1 fadeIn;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

#img img {
	height: 250px;
	width:  250px;
	object-fit: cover;
}

#gallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#img #info
{ 
	display: none;
    background-color: rgba(75,68,83,0.7);
    width: 250px;
    height: 250px;
    margin-left: 10px;
	position: absolute;
}

#img #info p {
	font-size:24px;
	margin-top: 100px;
	color: #FCF8FF;
	font-family: 'Happy Monkey', cursive;
}

#img:hover #info{
	display: block;
}

#img:hover {
	transform: scale(1.1);
}

#pagination {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 380px;
}

#pagination a:link {
	text-decoration: none;
	color: #4B4453 ;
}

#pagination a:hover {
	color: #EF626C;
	font-weight: bold;
	transform: scale(1.3);
}

#pagination a:visited {
	color: #4B4453 ;
}

#pagination a:visited:hover {
	color: #EF626C; 
}

/*--------------Notifications--------------*/
td a .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

td.dropdown {
	display: inline-block;
	width:50px;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color:#FAF4F5 ;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-height: 200px;
	overflow-y: auto;
}

#dropdown-content #notif-logo {
	object-fit: cover;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: rgba(232,233,243, 0.7);
	float: left;
	margin-right: 10px;
}

#dropdown-content #notif-img {
	object-fit: cover;
	height: 40px;
	width: 40px;
	float: right;
	margin-left: 10px;
}


#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left;
	background-color: rgba(255,255,255,0.7);
	height: 40px; 
}

#dropdown-content a p {
	height: 40px;
	font-size: 20px;
	margin: 0;
	display: inline-block;
	top: 0;
}

#dropdown-content p #notif-date {
	color: grey;
	font-size: 12px;
}

#dropdown-content a:hover {background-color:  rgba(232,233,243, 0.7)}

#notify-bubble {
	position: absolute;
	padding: 5px 8px 5px 7px;
	margin-top: 9px;
    background-color: #EF626C;
    color: white;
    font-size: 12px;
	border-radius: 50%;
	font-family: 'Happy Monkey', cursive;
	display: none;	
  }

/*--------------Modal--------------*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation : 0.5s ease-out 0s 1 fadeIn;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.modal-content {
    background-color:#FAF4F5;
    max-width: 800px;
    margin-top:50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px;

}

.close {
    color: #4B4453;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 18%;
}

.close:hover{
    color: #EF626C;
    cursor: pointer;
    transform: scale(1.3);
}

.modal-body {
	width: 100%;
	margin:auto;
	background-color: rgba(255,255,255,0.7);
	padding:10px;
	min-width: 240px;
}

.modal #imgModal {
	width: 50%;
	min-width: 240px;
	float:left;
}

#modal_info hr {
	width: 100%;
	height:1px;
	background-color: #EF626C;
	border: none;
}

.modal-body #modal_info {
	padding-top: 15px;
	font-size: 18px;
	float:right;
	max-width: 300px;
}

#modal_info #img_log{
	object-fit: cover;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: rgba(232,233,243, 0.7);
}

#modal_info #like_img img {
	height:30px;
	cursor:pointer;
}

#modal_info #like {
	font-size: 18px;
	color: #EF626C;
	width:10px; 
	text-align:center;

}

#modal_info #date {
	font-size: 15px;
}
#modal_info input[type="text"]{
	border:none; 
	height: 100%; 
	width: 100%;
	font-family: 'Pompiere', cursive;
	font-size: 17px;
	background-color: rgba(255,255,255,0.7);
}

#modal_info input[type="text"]:focus{

	outline:none;
}

@media only screen and (max-width: 725px) {
	.modal #imgModal {float: initial; width: 90%; margin-right:auto; margin-left:auto}
	.modal-body #modal_info {width: 90%;float: initial; margin-right: auto; margin-left:auto}

}
/*--------------Connexion.php--------------*/

#connexion {
	text-align: center;
}

#connexion a{
	color: #EF626C;

}
#connexion a:hover{
	font-weight: bold;
}
#connexion div {
	background-color: rgba(232,233,243, 0.7);
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 1px;
}

#connexion table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#connexion input {
	width: 80%;
	height: 35px;
	font-family: 'Pompiere', cursive;
	font-size: 25px;
	margin: 12px;
	border: none;

}

#connexion hr {
	height:1px;
	background-color: #4B4453;
	border: none;
}

#connexion input[type="submit"]{
	background-color: #FAF4F5;
	width: 60%;
	border-radius: 5px;
	border-color: rgba(75,68,83,0.8);
}

#connexion input[type="submit"]:hover{
	background-color: #EF626C;
	color: #FCF8FF ;
	font-weight: bold;
}

/*--------------Profil.php--------------*/
#profile {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	text-align: left;
	padding-top: 15px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#profile #modify_profile {
	visibility: hidden;
}

#profile td {
	border: none;
}

#profile td img{
	width: 100%;
	object-fit: cover;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background-color: rgba(232,233,243, 0.7);
}

#profile input {
	width: 100%;
	height: 30px;
	font-family: 'Pompiere', cursive;
	font-size: 18px;
	border: none;
	background-color: #FAF4F5;
	border-radius: 5px;
}

#profile input:hover{
	background-color: #EF626C;
	color: #FCF8FF ;
	font-weight: bold;
}

.login {
	color: #EF626C;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: bold;
}

/*--------------Account--------------*/
#account {
	background-color: rgba(232,233,243, 0.7);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

#category {
	float : left;
	width:30%;
	font-size:20px;
	border-collapse: collapse;	
}

#category td {
	height: 50px;
	padding-left:5px;
}

#category tr:hover{
	background-color: #4B4453;
	color: #FCF8FF ;
	font-weight: bold;
	cursor:pointer;
}

#category a:link {
	text-decoration: none;
	color: #3D3D3E ;
}

#category a:hover {
	color: #FCF8FF ;
	font-weight: bold;
}

#category a:visited {
	color: #3D3D3E ;
}

#category a:visited:hover {
	color: #FCF8FF  ;
}

#content table {
	padding-top: 15px;
	width:100%;
	font-size: 18px;
	padding-left: 15px;
}

#content table td {
	height: 30px;
}

#content #col1 {
	width: 40%;
	padding-right: 15px;
	text-align: right;
	font-weight: bold;
}

#content input {
	width: 80%;
	height: 28px;
	font-family: 'Pompiere', cursive;
	font-size: 18px;
	border: 1px solid #4B4453;
}

#content input[type="submit"]:hover{
	background-color: #EF626C;
	color: #FCF8FF ;
	font-weight: bold;
}

#content input[type="submit"]{
	background-color: #FAF4F5;
	border-radius: 5px;
	border-color: rgba(75,68,83,0.8);
}

#content textarea {
	font-family: 'Pompiere', cursive;
	font-size: 18px;
	border: 1px solid #4B4453;
	width: 78%;
}

#content td img{
	object-fit: cover;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: rgba(232,233,243, 0.7);
}

#content input[type="checkbox"]{
	width: 15px;
}

#content label{
	text-decoration: underline;
	color: #DA2C38;
	cursor: pointer;
}

#content label:hover{
	font-weight: bold;
}
#content {
	padding-top: 15px;
	width:68%;
	font-size: 18px;
	padding-left: 15px;
	border-left: 1px solid #4B4453;
	padding-bottom: 30px;
}

#content input[type="image"] {
	object-fit: cover;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin:15px 0px 15px 35px;
	border: 3px solid rgba(255, 255, 255, 0);
}

/*--------------Camera-------------*/

#camera {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 25px;
	text-align:middle;
}

#camera canvas {
	display: none;
}

#camera #div_video {
	margin-top: 30px;
	margin-bottom: 15px;
	background-color: rgba(232,233,243, 0.7);
	padding: 10px;
	width: 70%;
	float:left;
}

#camera #overlay {
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 10px;
	position:absolute;
	width:50%;
}

#camera #div_stickers{
	background-color: rgba(232,233,243, 0.7);
	width: 25%;
	height: 444px;
	margin-top: 30px;
	float: right;
	overflow-y: auto;
}

#camera #div_stickers img{
	width: 50%;
	margin-left: 10px;
	margin-top: 5px;
}

#camera #div_video #video {
	width: 100%;
	z-index:0;
}

#camera #startbutton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color:  rgba(232,233,243, 0.7);
	border: 3px solid #EF626C;
	margin-right: 35%;
	margin-left: 37%;
}

#camera #startbutton:hover {
	background-color: #EF626C;
}

#camera #uploadbutton{
	width: 150px;
	height: 30px;
	font-family: 'Pompiere', cursive;
	font-size: 18px;
	border: none;
	background-color: #FAF4F5;
	border-radius: 5px;
	margin-top: 0px;
}

#camera #uploadbutton:hover{
	background-color: #EF626C;
	color: #FCF8FF ;
	font-weight: bold;
}



#camera #camera_gallery {
	margin-top: 20px;
	padding: 10px 10px 0px 10px;
	border: 3px solid rgba(232,233,243, 0.7);
	overflow-y:hidden;
	overflow-x:auto;
	width: 97%;
	white-space: nowrap;
	height: 150px;
}

#camera #camera_gallery #photo {
	width: 20%;
	padding: 2px;	
}

#camera #photo img {
	object-fit: contain;
}